body {
  background-color: #791B99;
  font-family: "Quattrocento Sans", serif;
  font-size: inherit;
  padding-right: 25%;
  padding-left: 25%;
  margin:0;
  font-size: 1.2em;
}

h1 {
  font-family: "Quattrocento", serif;
  text-align: left;
  padding-left: 5%;
}

header {
  width: auto;
  height: auto;
  width: auto;
  text-align:right;
  display: flex;
  background-color: #9A55B2;
}

.mainimage {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  color: white;
  font-size: 1.2em;
}

#quotetext {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
}


.studyresearchpicsline {
  height: auto;
  width: auto;
  display:flex;
  text-align: center;
  background-color: #A993FF;
  font-size: 0.8em;
  justify-content: space-between;
}

.studyimg {
  width: 50vw;
  font-size: 1em;
  padding: 5%;
}

.researchimg {
  width: 50vw;
  font-size: 1em;
  padding: 5%;
}

.studentquote {
  height: auto;
  background-color: #9A55B2;
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 2%;
}

#zizekquote {
  padding-left:15%;
  padding-top: 5%;

}

#zizekphoto {
  padding-right: 25%;
  padding-top: 5%;

}

#zizek {
  text-align: right;
  align-items: left;
}

.newsimgs {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  background-color: #A993FF;
  padding-top: 2%;
  }

footer {
  display:flex;
  background-color: #9A55B2;
}

/* Properties for secondary webpages (research then study respectively) */

.rpagetitle {
  display: flex;
  padding-left: 2.5%;
  background-color: #A993FF;
  text-align: center;
}

.rpage1 {
  display :flex;
  height: auto;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  background-color: #A993FF;
  padding-bottom: 2%;
}

.rpagepic1 {
  width: 50vw;
  padding-right: 5%;
}

.rpageblurb1 {
  width: 50vw;
  padding-right: 1.5%;
}

.rpage2 {
  display: flex;
  height: auto;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  background-color:  #A993FF;
  padding-bottom: 2%;
}

.rpagepic2 {
  width: 50vw;
  padding-left: 10%;
}

.rpageblurb2 {
  width: 50vw;
  padding-left: 1.5%;
}

.rpage3 {
  display: flex;
  height: auto;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  background-color:  #A993FF;
  padding-bottom: 2%;
}

.rpagepic3 {
  padding-right: 1.5%;
  padding-top: 2.5%;
  width: 50vw;
}

.rpageblurb3 {
  width: 50vw;
  padding-right: 1.5%;
}

#dca {
  display: none;
}

/* Study pages */

/* This section is for media queries */

@media only screen and (max-width: 1400px ) {

body {
  padding-right: 20%;
  padding-left: 20%;
}

}

@media only screen and (max-width: 1200px ) {

body {
  padding-right: 15%;
  padding-left: 15%;
}

h1 {
  padding-left: 2.5%;
}

header {
  font-size: 0.8em;
}
footer {
  font-size: 0.8em;
}

.studyresearchpicsline {
  height:auto;
}

}

@media only screen and (max-width: 1000px ) {

body {
  padding-right: 10%;
  padding-left: 10%;
}

h1 {
  padding-left: 2.5%;
  }

header {
  font-size: 0.7em;
}
footer {
  font-size: 0.7em;
}

}

#zizekquote {
  padding-left:5%;
  padding-top: 5%;
}
.rpagepic1 {
  padding-top: 0%;
}

.rpagepic2 {
  padding-top: 0%;
}

.rpagepic3 {
  padding-top: 0%;
}

.rpageblurb3 {
  padding-top: 4%;
}

@media only screen and (max-width: 800px ) {
body {
  padding-right: 2.5%;
  padding-left: 2.5%;
  font-style: 0.7em;
}

header {
  font-size: 0.6em;
}

footer {
  font-size: 0.6em;
}

.rpage1 {
  height: auto;
}

.rpage2 {
  height: auto;
}

.rpage3 {
  height: auto;
}

#zizekquote {
  padding-right: 0%;
  padding-top: 5%;
}
/* This breakpoint seems most simular to the standard mobile phone sizing, though ultimately, I conceed it could also effect people with old square CRT monitors
that view webpages in a narrow window */

@media only screen and (max-width: 450px ) {
body {
padding-right: 0%;
padding-left: 0%;
font-size: 1em;
}

header {
  font-size: 0.5em;
  height: auto;
}

footer {
  font-size: 0.5em;
  height: auto;
}

.studyresearchpicsline {
  flex-flow: wrap;
  height:auto;
}

#quotetext {
  opacity: 0.0;
}

.studyimg {
  width: auto;
  background-color: #9A55B2;
}

.researchimg {
  width: auto;
}

.studentquote {
  display: none;
}

#zizek {
  display: block;
}

.newsimgs {
  flex-flow: wrap;
  align-content: center;
  text-align: center;
}

/* Research Page */

.rpage1 {
  display :flex;
  flex-flow: wrap;
  height: auto;
  text-align: center;
  background-color: #A993FF;
  margin: auto;
  align-items: none;
}

.rpagepic1 {
  width: auto;
}

.rpageblurb1 {
  width: auto;
}

.rpage2 {
  display: flex;
  flex-flow: wrap-reverse;
  height: auto;
  text-align: center;
  background-color:  #A993FF;
}
.rpagepic2 {
  width: auto;
}

.rpageblurb2 {
  width: auto;
}

.rpage3 {
  display: flex;
  flex-flow: wrap;
  height: auto;
  text-align: center;
  background-color:  #A993FF;
  margin: auto;
  padding-bottom: 2%;
}

.rpagepic3 {
  width: auto;
}

.rpageblurb3 {
  display: none;
  width: auto;
}

#dca {
  display:inline;
}

}
